Notebook para analisar os dados da base Bolsa Família

In [2]:
# Importando a sessão do Spark que se comunica com o cluster
from pyspark.sql import SparkSession

In [3]:
#Instanciando a sessão spark
spark = SparkSession.builder.appName("Bolsa Familia").getOrCreate()

In [13]:
caminho = "./data/202401_NovoBolsaFamilia.csv"

df = spark.read.csv(caminho, 
                    header=True,
                    sep=';',
                    encoding='ISO-8859-1')

In [14]:
df.show()

+---------------+--------------+---+----------------------+--------------------+--------------+--------------+--------------------+-------------+
|MÊS COMPETÊNCIA|MÊS REFERÊNCIA| UF|CÓDIGO MUNICÍPIO SIAFI|      NOME MUNICÍPIO|CPF FAVORECIDO|NIS FAVORECIDO|     NOME FAVORECIDO|VALOR PARCELA|
+---------------+--------------+---+----------------------+--------------------+--------------+--------------+--------------------+-------------+
|         202401|        202303| AC|                  0139|          RIO BRANCO|***.511.972-**|   16291115205|JANAINA FERREIRA ...|       800,00|
|         202401|        202303| BA|                  3329|             ANGUERA|***.909.745-**|   20474429886|TACIANE MARQUES D...|       750,00|
|         202401|        202303| BA|                  3731|         MONTE SANTO|***.872.338-**|   20195376298|MAILSON DOS SANTO...|       650,00|
|         202401|        202303| BA|                  3761|         NOVA VICOSA|***.665.905-**|   12723589082|IRENI RICARDO GER...|       650,00|
|         202401|        202303| BA|                  3849|            SALVADOR|***.932.435-**|   20024584007|ELIENE GOMES DOS ...|       850,00|
|         202401|        202303| BA|                  3849|            SALVADOR|***.081.685-**|   12901985051|RITA DE CASSIA SI...|       750,00|
|         202401|        202303| GO|                  9625|            TRINDADE|***.663.991-**|   20094495151|POLIANA GUEDES DE...|      1060,00|
|         202401|        202303| MA|                  0731|      BARRA DO CORDA|***.901.823-**|   20176081253|ANDREIA MACHADO D...|       800,00|
|         202401|        202303| MG|                  4133|               BETIM|***.952.266-**|   16012141506|DJESSICA ADRIAN S...|       800,00|
|         202401|        202303| MG|                  4701|             JANAUBA|***.968.426-**|   16598251037|RUTH DANIELE SANT...|       900,00|
|         202401|        202303| MG|                  5401|             UBERABA|***.088.556-**|   16259208988|IVANI DE BRITO CUNHA|       700,00|
|         202401|        202303| MS|                  9073|            DOURADOS|***.369.631-**|   16144249991|DAILA OLIVEIRA DA...|       750,00|
|         202401|        202303| MS|                  9115|             NIOAQUE|***.317.608-**|   20445946517|SANDRA REGINA BOR...|       600,00|
|         202401|        202303| MT|                  9067|              CUIABA|***.714.851-**|   13364609402|JOSIANE ALCANTARA...|       750,00|
|         202401|        202303| PA|                  0427|               BELEM|***.123.972-**|   16168719238|ADRIANE FERREIRA ...|       750,00|
|         202401|        202303| PB|                  1999|CRUZ DO ESPIRITO ...|***.253.234-**|   20146832994|CRISTINA DE ARAUJ...|       800,00|
|         202401|        202303| PB|                  2051|         JOAO PESSOA|***.155.514-**|   20117607651|MARIA JOSE FIDELI...|       600,00|
|         202401|        202303| PE|                  2631|        ABREU E LIMA|***.984.764-**|   23638513250|ANA ILZA ALVES DO...|       800,00|
|         202401|        202303| PE|                  2627|VITORIA DE SANTO ...|***.289.264-**|   16245332533|GIOVANA SANTOS DO...|       300,00|
|         202401|        202303| PR|                  7731|            PAICANDU|***.103.879-**|   12961009512|JOSILAINE CRISTIN...|       650,00|
+---------------+--------------+---+----------------------+--------------------+--------------+--------------+--------------------+-------------+
only showing top 20 rows

In [15]:
df.printSchema()

root
 |-- MÊS COMPETÊNCIA: string (nullable = true)
 |-- MÊS REFERÊNCIA: string (nullable = true)
 |-- UF: string (nullable = true)
 |-- CÓDIGO MUNICÍPIO SIAFI: string (nullable = true)
 |-- NOME MUNICÍPIO: string (nullable = true)
 |-- CPF FAVORECIDO: string (nullable = true)
 |-- NIS FAVORECIDO: string (nullable = true)
 |-- NOME FAVORECIDO: string (nullable = true)
 |-- VALOR PARCELA: string (nullable = true)