# Notebook para analisar os dados da base Bolsa Família

## Importando as bibliotecas necessárias

In [64]:
# Importando a sessão do Spark que se comunica com o cluster
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, TimestampType, StringType, DoubleType
from pyspark.sql.functions import regexp_replace, col, to_timestamp

## Iniciando Sessão Spark e importando o arquivo CSV

In [17]:
#Instanciando a sessão spark
spark = SparkSession.builder.appName("Bolsa Familia").getOrCreate()

In [55]:
caminho = "./data/202401_NovoBolsaFamilia.csv"

df = spark.read.csv(path=caminho, 
                    header=True,
                    sep=';',
                    encoding='ISO-8859-1')

df.show()

+---------------+--------------+---+----------------------+--------------------+--------------+--------------+--------------------+-------------+
|MÊS COMPETÊNCIA|MÊS REFERÊNCIA| UF|CÓDIGO MUNICÍPIO SIAFI|      NOME MUNICÍPIO|CPF FAVORECIDO|NIS FAVORECIDO|     NOME FAVORECIDO|VALOR PARCELA|
+---------------+--------------+---+----------------------+--------------------+--------------+--------------+--------------------+-------------+
|         202401|        202303| AC|                  0139|          RIO BRANCO|***.511.972-**|   16291115205|JANAINA FERREIRA ...|       800,00|
|         202401|        202303| BA|                  3329|             ANGUERA|***.909.745-**|   20474429886|TACIANE MARQUES D...|       750,00|
|         202401|        202303| BA|                  3731|         MONTE SANTO|***.872.338-**|   20195376298|MAILSON DOS SANTO...|       650,00|
|         202401|        202303| BA|                  3761|         NOVA VICOSA|***.665.905-**|   12723589082|IRENI RICARDO GER...|       650,00|
|         202401|        202303| BA|                  3849|            SALVADOR|***.932.435-**|   20024584007|ELIENE GOMES DOS ...|       850,00|
|         202401|        202303| BA|                  3849|            SALVADOR|***.081.685-**|   12901985051|RITA DE CASSIA SI...|       750,00|
|         202401|        202303| GO|                  9625|            TRINDADE|***.663.991-**|   20094495151|POLIANA GUEDES DE...|      1060,00|
|         202401|        202303| MA|                  0731|      BARRA DO CORDA|***.901.823-**|   20176081253|ANDREIA MACHADO D...|       800,00|
|         202401|        202303| MG|                  4133|               BETIM|***.952.266-**|   16012141506|DJESSICA ADRIAN S...|       800,00|
|         202401|        202303| MG|                  4701|             JANAUBA|***.968.426-**|   16598251037|RUTH DANIELE SANT...|       900,00|
|         202401|        202303| MG|                  5401|             UBERABA|***.088.556-**|   16259208988|IVANI DE BRITO CUNHA|       700,00|
|         202401|        202303| MS|                  9073|            DOURADOS|***.369.631-**|   16144249991|DAILA OLIVEIRA DA...|       750,00|
|         202401|        202303| MS|                  9115|             NIOAQUE|***.317.608-**|   20445946517|SANDRA REGINA BOR...|       600,00|
|         202401|        202303| MT|                  9067|              CUIABA|***.714.851-**|   13364609402|JOSIANE ALCANTARA...|       750,00|
|         202401|        202303| PA|                  0427|               BELEM|***.123.972-**|   16168719238|ADRIANE FERREIRA ...|       750,00|
|         202401|        202303| PB|                  1999|CRUZ DO ESPIRITO ...|***.253.234-**|   20146832994|CRISTINA DE ARAUJ...|       800,00|
|         202401|        202303| PB|                  2051|         JOAO PESSOA|***.155.514-**|   20117607651|MARIA JOSE FIDELI...|       600,00|
|         202401|        202303| PE|                  2631|        ABREU E LIMA|***.984.764-**|   23638513250|ANA ILZA ALVES DO...|       800,00|
|         202401|        202303| PE|                  2627|VITORIA DE SANTO ...|***.289.264-**|   16245332533|GIOVANA SANTOS DO...|       300,00|
|         202401|        202303| PR|                  7731|            PAICANDU|***.103.879-**|   12961009512|JOSILAINE CRISTIN...|       650,00|
+---------------+--------------+---+----------------------+--------------------+--------------+--------------+--------------------+-------------+
only showing top 20 rows

## Ajustando os tipos dos dados

In [56]:
df.printSchema()

root
 |-- MÊS COMPETÊNCIA: string (nullable = true)
 |-- MÊS REFERÊNCIA: string (nullable = true)
 |-- UF: string (nullable = true)
 |-- CÓDIGO MUNICÍPIO SIAFI: string (nullable = true)
 |-- NOME MUNICÍPIO: string (nullable = true)
 |-- CPF FAVORECIDO: string (nullable = true)
 |-- NIS FAVORECIDO: string (nullable = true)
 |-- NOME FAVORECIDO: string (nullable = true)
 |-- VALOR PARCELA: string (nullable = true)

In [77]:
df_cast = df.withColumn(
    'MÊS COMPETÊNCIA', to_timestamp('MÊS COMPETÊNCIA', 'yyyyMM')
).withColumn(
    'MÊS REFERÊNCIA', to_timestamp('MÊS REFERÊNCIA', 'yyyyMM')
).withColumn(
    'NIS FAVORECIDO', col('NIS FAVORECIDO').cast('long')
).withColumn(
    'VALOR PARCELA', regexp_replace('VALOR PARCELA', ',', '.')
).withColumn(
    'VALOR PARCELA', col('VALOR PARCELA').cast('double')
)

In [78]:
df_cast.printSchema()

root
 |-- MÊS COMPETÊNCIA: timestamp (nullable = true)
 |-- MÊS REFERÊNCIA: timestamp (nullable = true)
 |-- UF: string (nullable = true)
 |-- CÓDIGO MUNICÍPIO SIAFI: string (nullable = true)
 |-- NOME MUNICÍPIO: string (nullable = true)
 |-- CPF FAVORECIDO: string (nullable = true)
 |-- NIS FAVORECIDO: long (nullable = true)
 |-- NOME FAVORECIDO: string (nullable = true)
 |-- VALOR PARCELA: double (nullable = true)

In [79]:
df_cast.show()

+-------------------+-------------------+---+----------------------+--------------------+--------------+--------------+--------------------+-------------+
|    MÊS COMPETÊNCIA|     MÊS REFERÊNCIA| UF|CÓDIGO MUNICÍPIO SIAFI|      NOME MUNICÍPIO|CPF FAVORECIDO|NIS FAVORECIDO|     NOME FAVORECIDO|VALOR PARCELA|
+-------------------+-------------------+---+----------------------+--------------------+--------------+--------------+--------------------+-------------+
|2024-01-01 00:00:00|2023-03-01 00:00:00| AC|                  0139|          RIO BRANCO|***.511.972-**|   16291115205|JANAINA FERREIRA ...|        800.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| BA|                  3329|             ANGUERA|***.909.745-**|   20474429886|TACIANE MARQUES D...|        750.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| BA|                  3731|         MONTE SANTO|***.872.338-**|   20195376298|MAILSON DOS SANTO...|        650.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| BA|                  3761|         NOVA VICOSA|***.665.905-**|   12723589082|IRENI RICARDO GER...|        650.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| BA|                  3849|            SALVADOR|***.932.435-**|   20024584007|ELIENE GOMES DOS ...|        850.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| BA|                  3849|            SALVADOR|***.081.685-**|   12901985051|RITA DE CASSIA SI...|        750.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| GO|                  9625|            TRINDADE|***.663.991-**|   20094495151|POLIANA GUEDES DE...|       1060.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| MA|                  0731|      BARRA DO CORDA|***.901.823-**|   20176081253|ANDREIA MACHADO D...|        800.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| MG|                  4133|               BETIM|***.952.266-**|   16012141506|DJESSICA ADRIAN S...|        800.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| MG|                  4701|             JANAUBA|***.968.426-**|   16598251037|RUTH DANIELE SANT...|        900.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| MG|                  5401|             UBERABA|***.088.556-**|   16259208988|IVANI DE BRITO CUNHA|        700.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| MS|                  9073|            DOURADOS|***.369.631-**|   16144249991|DAILA OLIVEIRA DA...|        750.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| MS|                  9115|             NIOAQUE|***.317.608-**|   20445946517|SANDRA REGINA BOR...|        600.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| MT|                  9067|              CUIABA|***.714.851-**|   13364609402|JOSIANE ALCANTARA...|        750.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| PA|                  0427|               BELEM|***.123.972-**|   16168719238|ADRIANE FERREIRA ...|        750.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| PB|                  1999|CRUZ DO ESPIRITO ...|***.253.234-**|   20146832994|CRISTINA DE ARAUJ...|        800.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| PB|                  2051|         JOAO PESSOA|***.155.514-**|   20117607651|MARIA JOSE FIDELI...|        600.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| PE|                  2631|        ABREU E LIMA|***.984.764-**|   23638513250|ANA ILZA ALVES DO...|        800.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| PE|                  2627|VITORIA DE SANTO ...|***.289.264-**|   16245332533|GIOVANA SANTOS DO...|        300.0|
|2024-01-01 00:00:00|2023-03-01 00:00:00| PR|                  7731|            PAICANDU|***.103.879-**|   12961009512|JOSILAINE CRISTIN...|        650.0|
+-------------------+-------------------+---+----------------------+--------------------+--------------+--------------+--------------------+-------------+
only showing top 20 rows